nix/services/n8n-workflows/deutsche-wohnen-alert.json
{
  "name": "Deutsche Wohnen Alerts",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "name": "Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://www.deutsche-wohnen.com/api/deuwo-real-estate/list?limit=15&latitude=52.503641153982585&longitude=13.388082683086395&geoLocation=1&rentType=miete&perimeter=3&immoType=wohnung&priceMax=800&sizeMin=45&min Rooms=0&floor=Beliebig&bathtub=0&bathwindow=0&bathshower=0&furnished=0&kitchenEBK=0&toiletSeparate=0&disabilityAccess=egal&seniorFriendly=0&balcony=ja&parkingCarport=0&parkingStellplatz=0&parkingGarage=0&park ingTiefgarage=0&subsidizedHousingPermit=egal&locationDisplay=Berlin, Kreuzberg&dataSet=",
        "method": "GET",
        "options": {
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "name": "Fetch Listings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst listings = data.results ?? [];\n\nconst staticData = $getWorkflowStaticData('global');\nconst seen = new Set(staticData.seenIds ?? []);\n\nconst newListings = listings\n  .filter(item => !seen.has(String(item.wrk_id)))\n  .map(item => ({ id: String(item.wrk_id), item }));\n\n// Persist updated seen set (cap at 500)\nstaticData.seenIds = [...seen, ...newListings.map(l => l.id)].slice(-500);\n\nif (newListings.length === 0) return [];\n\nreturn newListings.map(({ id, item }) => ({\n  json: {\n    id,\n    title: item.titel,\n    price: item.preis.toFixed(2),\n    size: item.groesse,\n    rooms: item.anzahl_zimmer,\n    address: `${item.strasse}, ${item.plz} ${item.ort}`,\n    url: `https://www.deutsche-wohnen.com/mieten/mietangebote/${item.slug}`,\n  }\n}));"
      },
      "name": "Find New Listings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "url": "https://ntfy.jrdn.cx/wohnungen",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Title", "value": "Neue Wohnung: {{ $json.title }}" },
            { "name": "Priority", "value": "high" },
            { "name": "Tags", "value": "house" },
            { "name": "Click", "value": "={{ $json.url }}" },
            {
              "name": "Authorization",
              "value": "Basic REPLACE_WITH_BASE64_USER_PASS"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "={{ $json.rooms }} Zi · {{ $json.size }} m² · {{ $json.price }} €\n{{ $json.address }}\n{{ $json.url }}"
      },
      "name": "Notify via Ntfy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    }
  ],
  "connections": {
    "Every 30 min": {
      "main": [[{ "node": "Fetch Listings", "type": "main", "index": 0 }]]
    },
    "Fetch Listings": {
      "main": [[{ "node": "Find New Listings", "type": "main", "index": 0 }]]
    },
    "Find New Listings": {
      "main": [[{ "node": "Notify via Ntfy", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
